<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'app.modal.widget_form.action.close'|trans }}</button>
<button type="submit" class="btn btn-primary">{{ 'app.modal.widget_form.action.save'|trans }}</button>