{% block flatpickr_widget %}
    <div class="input-group mb-3">
        {{ form_widget(form) }}
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
{% endblock %}