<div class="modal fade" id="alert-form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title mb-5"></h4>

                <a type="button" class="ml-3 text-muted dismiss-modal" data-dismiss="modal">
                    {{ 'app.modal.widget_form.action.close'|trans }}
                </a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>