<li>
    <i class="fas fa-chevron-right text-orange"></i>
    <a href="{{ path('app.help.show', {'locale': app.request.locale, 'template': help.template}) }}" target="_blank" class="text-dark">
        {{ help.label | trans }}
    </a>
</li>