<div class="modal fade" id="import-widget-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Import widget modal</h4>
                <div id="form-container">
                    {{ include('partial/_loader.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>