<div class="modal fade" id="widget-form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">{{ 'app.modal.widget.title'|trans }}</h4>

                <div id="form-container"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>