<div class="modal fade" id="widget-form-modal" data-url="{{ path('app.call_of_project.get_widget_form', {'id' : call_of_project.id}) }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">{{ 'app.modal.widget_form.title'|trans }}</h4>

                <div id="form-container"></div>

                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'app.modal.widget_form.action.close'|trans }}</button>
                <button type="button" class="btn btn-primary">{{ 'app.modal.widget_form.action.save'|trans }}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>