<ol class="breadcrumb">
    {% for item in items %}
        <li class="breadcrumb-item">
            {% if item.link and not loop.last %}
                <a href="{{ item.link }}">{{ item.label|trans }}</a>
            {% else %}
                {{ item.label|trans }}
            {% endif %}
        </li>
    {% endfor %}
</ol>