{% extends 'base.html.twig' %}
{% set title = 'Réinitialisation de mot de passe' %}
{% set h1 = 'Réinitialisation de mot de passe' %}

{% block body %}
    <div class="height-center">
        <div class="container padding-bottom-3x mb-2">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <h2>Vous avez perdu votre mot de passe?</h2>
                    <p>Changez votre mot de passe en 3 étapes. Cela vous permet de garder votre mot de passe plus sécurisé.</p>
                    <ol class="list-unstyled">
                        <li><span class="text-primary text-medium">1. </span>Indiquez votre adresse mail dans le champ ci-dessous.</li>
                        <li><span class="text-primary text-medium">2. </span>Vous recevez un mail avec un lien de réinitialisation.</li>
                        <li><span class="text-primary text-medium">3. </span>Cliquez dessus, une nouvelle page s'ouvre. Indiquez votre nouveau mot de passe.
                        </li>
                    </ol>
                    {{ form_start(form, {'attr' : {'class': 'card mt-4'}}) }}
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.email)}}
                            {{ form_widget(form.email)}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}