{% extends 'layout_sidebar.html.twig' %}

{% block title %}Edit CallOfProject{% endblock %}

{% set h1 =  'Edit CallOfProject' %}

{% block content %}

    {{ include('call_of_project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app.call_of_project.index') }}">back to list</a>

{% endblock %}
