{% extends 'layout.html.twig' %}

{% block title %}CallOfProject index{% endblock %}

{% set h1 = 'CallOfProject index' %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for call_of_project in call_of_projects %}
            <tr>
                <td>{{ call_of_project.description }}</td>
                <td>
                    <a href="{{ path('app.call_of_project.edit', {'id': call_of_project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app.call_of_project.new') }}">Create new</a>
{% endblock %}
