{% extends 'layout.html.twig' %}

{% block title %}New CallOfProject{% endblock %}

{% set h1 = 'Create new CallOfProject' %}

{% block content %}

    {{ include('call_of_project/_form.html.twig') }}

    <a href="{{ path('app.call_of_project.index') }}">back to list</a>
{% endblock %}
