{% extends 'top_navbar_layout.html.twig' %}

{% block h1_content %}
    {{ 'app.call_of_project.new.h1'|trans }}
{% endblock %}

{% block content %}

    <div class="card">

        <div class="card-body p-5">

            {{ include('call_of_project/_form.html.twig') }}

        </div>
    </div>

{% endblock %}
