{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'app.call_of_project.new.h1'|trans }}
{% endblock %}

{% set h1 = 'app.call_of_project.new.h1'|trans %}

{% block content %}

    <div class="card">

        <div class="card-body p-5">

            {{ include('call_of_project/_form.html.twig') }}

        </div>
    </div>

{% endblock %}
