{% extends 'admin_layout.html.twig' %}


{% block title %}
    {{ 'app.admin.group.new.h1'|trans }}
{% endblock %}

{% block h1_content %}
    {{ 'app.admin.group.new.h1'|trans }}
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-body">
            {{ include('group/_form.html.twig') }}
        </div>
    </div>

{% endblock %}