<footer class="main-footer">
    <!-- To the right -->
    {#<div class="float-right d-none d-sm-inline">
        Anything you want
    </div>#}
    <!-- Default to the left -->
    <img src="{{ asset('build/logo2.png') }}" alt="{{ app_name }}" class="img-fluid" style="max-width: 200px;">
</footer>