{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.call_of_projects_project_info_view' %}

{% block help_content %}
    <div class="alert alert-warning">
        Les conditions suivantes sont nécessaires:
        <ul>
            <li>
                Vous devez posséder les permissions nécessaires ({{ 'app.acl.constant.admin'|trans }}, {{ 'app.acl.constant.manager'|trans }} ou {{ 'app.acl.constant.viewer'|trans }}) au niveau de l'appel à projet ou du centre organisateur de l'appel
            </li>
        </ul>
    </div>
    <ol>
        <li>
            Depuis la <a target="_blank" href="{{ path('app.help.show', {'locale': app.request.locale, 'template': 'call_of_projects_projects_list'}) }}">liste des projets de votre appel à projets</a>, sélectionnez un projet en cliquant sur son titre
        </li>
    </ol>
{% endblock %}