{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.call_of_projects_info_view' %}

{% block help_content %}
    <div class="alert alert-warning">
        Les conditions suivantes sont nécessaires:
        <ul>
            <li>
                Vous devez posséder les permissions nécessaires ({{ 'app.acl.constant.admin'|trans }}, {{ 'app.acl.constant.manager'|trans }} ou {{ 'app.acl.constant.viewer'|trans }}) au niveau de l'appel à projets ou du centre organisateur de l'appel
            </li>
        </ul>
    </div>
    <ol>
        <li>
            Depuis la <a target="_blank" href="{{ path('app.call_of_project.index') }}"><u>liste de vos appels à projets</u></a> sélectionnez un appel à projets en cliquant sur son titre
        </li>
    </ol>
{% endblock %}