{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.call_of_projects_form_add_widget' %}

{% block help_content %}
    <div class="alert alert-warning">
        Les conditions suivantes sont nécessaires:
        <ul>
            <li>
                Vous devez posséder les permissions nécessaires ({{ 'app.acl.constant.admin'|trans }}) au niveau de l'appel à projets ou du centre organisateur de l'appel
            </li>
        </ul>
    </div>
    <ol>
        <li>
            Rendez-vous sur la page de <a target="_blank" href="{{ path('app.help.show', {'locale': app.request.locale, 'template': 'call_of_projects_form_config'}) }}"><u>configuration du formulaire de dépôt de projets</u></a> d'un appel à projets
        </li>
        <li>
            Dans le menu de droite, cliquez sur le bouton <i class="fas fa-plus-circle"></i> en face du type de champ que vous souhaitez ajouter
        </li>
        <li>
            Renseignez les informations concernant le champ (les informations à renseigner diffèrent en fonction du type de champs cf. <a href="{{ path('app.help.show', {'locale': app.request.locale, 'template': 'call_of_projects_form_widgets_types'}) }}" target="_blank">Types de champs</a> ci-dessous)
        </li>
        <li>
            Cliquez sur le bouton <u>{{ 'app.action.save'|trans }}</u>
        </li>
    </ol>
{% endblock %}