{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.project_my_list' %}

{% block help_content %}
    <ol>
        <li>
            Cliquez sur <a href="{{ path('app.project.index') }}"><u>{{ 'app.navbar.item.my_projects.label'|trans }}</u></a> dans le menu principal.
        </li>
    </ol>
{% endblock %}