{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.project_info_view' %}

{% block help_content %}
    <ol>
        <li>
            Depuis la <a href="{{ path('app.project.index') }}"><u>liste de vos projets</u></a>, sélectionnez un projet en cliquant sur son titre
        </li>
    </ol>
{% endblock %}