{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.validation_less_than_or_equal' %}

{% block help_content %}
    <span>
        Permet de valider que la valeur renseignée est inférieure ou égale au nombre indiqué
    </span>
    <ul>
        <li>
            <b>Value</b> : Nombre maximum que la valeur du champ ne devra pas dépasser pour être valide
        </li>
    </ul>
{% endblock %}