{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.validation_greater_than_or_equal' %}

{% block help_content %}
    <span>
        Permet de valider que la valeur renseignée est supérieure ou égale au nombre indiqué
    </span>
    <ul>
        <li>
            <b>Value</b> : Nombre minimum en dessous de laquelle la valeur du champ ne devra pas être pour être valide
        </li>
    </ul>
{% endblock %}