{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.validation_email' %}

{% block help_content %}
    <span>
        Permet de valider que la valeur renseignée respecte bien le format email
    </span>
{% endblock %}