{% extends 'admin_layout.html.twig' %}

{% block title %}
    {{ 'app.admin.user.new.h1'|trans }}
{% endblock %}

{% block h1_content %}
    {{ 'app.admin.user.new.h1'|trans }}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
