<form method="post" action="{{ path('app.widget.delete', {'id': widget.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ widget.id) }}">
    <button class="btn btn-danger btn-block delete-button-modal"
            data-modal-title="{{ 'app.project_form_widget.modal.delete_warning_title'|trans }}">
        {{ 'app.action.delete'|trans }}</button>
</form>
